.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch
dist
dist-ssr

# End of https://mrkandreev.name/snippets/gitignore-generator/#react

.env
.env.local